body {
  min-height: 100%;
  background-image: url(../pic2.jpg);
}

#navbar {
  background-color: ;
  top: 0;
  left: 0;
  right: 0;
  position: static;
  height: 60px;
  padding: 0 px;
  display: flex;
  justify-content: left;
  align-items: left;
  background-color: bisque;


}

#image {
  padding-left: 30px;
}





.text-center {
  text-align: center;
}

.space-bot {
  margin-bottom: 30px;
}

.space-top {
  margin-top: 30px;
}


h1 {
  color: white;
  font-family: 'Roboto';
  text-transform: uppercase;
  font-weight: 900;
  font-size: 25px;
  text-align: center;
}


.container {
  max-width: 400px;
  max-height: 100px;
  margin-top: 40px;
  position: relative;
  min-height: 100vh;
  margin-bottom: 60px;

}

.signup-screen {
  padding: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  background-color: #322526;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .3);
  color: white;

}

#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: bisque;


}

.btn {
  border-radius: 2px;
}


.cancel {
  background-color: #df405a;
}

.done {
  background-color: #5CAB7D;
}

.done:hover {
  background-color: #6dc793;
}

.done:focus {
  background-color: #6dc793;
}

.cancel:hover {
  background-color: #f0435f;
}

.cancel:focus {
  background-color: #f0435f;
}

.input-group {
  width: 100%;
}

.input-group .ng-invalid {
  border: 2px solid #e74c3c;
  border-radius: 3px;
}



.help-block {
  font-size: 12px;
  color: white
}

main {
  flex: 1;
}