<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Bank Account</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
  <link rel="stylesheet" href="./index.css">

</head>

<body>
  <header>
    <nav id="navbar">
      <img id="image" src="./logomarca.png"></img>
    </nav>
  </header>

  <main>
    <div class="container">
      <div id="signup">
        <div class="signup-screen">
          <div class="space-bot text-center">
            <h1>LOGIN</h1>
            <div class="divider"></div>
          </div>

          <form id="form-cadastro" class="form-register" method="post" name="register" novalidate>

            <div class="input-field col s6">
              <input id="Full-name" type="text" class="validate" required>
              <label for="Full-name">Full name</label>
            </div>

            <div class="input-field col s6">
              <input id="CPF" type="text" class="validate" required>
              <label for="CPF">CPF</label>
            </div>

            <div class="input-field col s6">
              <input id="Cell-Phone" type="text" name="email" ng-model="email" class="validate" required>
              <label for="Cell-Phone">Cell Phone</label>
            </div>

            <div class="input-field col s6">
              <input id="password" type="password" name="password" ng-model="password" ng-minlength='6' class="validate"
                required>
              <label for="password">Password</label>
            </div>

            <div class="input-field col s6">
              <input id="password" type="password" name="password" ng-model="password" ng-minlength='6' class="validate"
                required>
              <label for="password">Confirm Password</label>
            </div>

            <div class="space-top text-center">

              <button type="reset" class="waves-effect waves-light btn done">
                <i class="material-icons left"></i> Clean
              </button>

              <button type="submit" class="waves-effect waves-light btn cancel">
                <i class="material-icons left"></i> Send
              </button>


            </div>

          </form>
        </div>
      </div>

    </div>
  </main>
  <footer id="footer">
    <div class="footer_1">2023 LG Pagamentos S.A - Instituição de Pagamento. 18.069.018/0690-180690
      Rua Niteroi, 1235 - Ipatinga, MG - 35169-290 </div>

  </footer>

</body>


</html>